<div class="dopdiv", class: "btn btn-xs btn-info">
  
  
  Отмостка 800 мм. <%= number_field_tag 'otmostka800'%> м.пог.<br><br>
  Отмостка 1000 мм. <%= number_field_tag 'otmostka1000'%> м.пог.<br><br>
  
  
  Ступеньки в дом (площадка + 2 ступеньки) <%= check_box_tag 'stupenki' %><br><br>
  Навес над ступеньками (двускатный) <%= check_box_tag 'naves' %><br><br>
  
  <span class="caption">Отделка цоколя</span><br>
  Площадь цоколя: <%= number_field_tag 'tsokol'%> м<sup>2</sup><br>
  Тип отделки: Клинкер <%= check_box_tag 'tsokolklinker' %>, 
  Камень пещанник	<%= check_box_tag 'tsokolpeschanik' %>, Плитка керамическая <%= check_box_tag 'tsokolplitka' %><br><br>
  
  Межкомнатные двери (только установка) <%= number_field_tag 'mezhkom'%> к-во<br><br>

  <span class="caption">Лестница</span><br>
  Ко-во погонных метров: <%= number_field_tag 'lestnica'%><br>
  Тип отделки: Вариант1 <%= check_box_tag 'v1' %>, Вариант2 <%= check_box_tag 'v2' %>, Вариант3 <%= check_box_tag 'v3' %><br><br>
  
  <br>
  Терраса <%= number_field_tag 'terrasa'%> м<sup>2</sup><br>
  Террасная доска <%= check_box_tag 'terasnadoska'%> 

</div>
