
<h1 class="h1_form">"ЕвроХауз"</h1><br><br>

<%= form_tag("sum", method: :get, class: "form-horizontal", role: "form") do %>
  Архитектурный проект <%= check_box_tag 'archproject' %><br><br>
  <span class="caption">Фундамент</span><br>
  Площадь <%= number_field_tag 'plfund' %> м<sup>2</sup><br><br>
  
  <span class="caption">Тип стен</span><br>
  Площадь <%= number_field_tag 'plsten' %> м<sup>2</sup><br>
  СИП160 <%= check_box_tag 'sip160' %>, Каркас150 <%= check_box_tag 'karkas150' %><br>
  Наружная отделка: Сайдинг <%= check_box_tag 'saiding' %>, БлокХаус <%= check_box_tag 'blockhaus' %>, Штукатурка <%= check_box_tag 'shtukat' %><br>
  Внутренняя отделка: Вагонка <%= check_box_tag 'vagonka' %>, Гипсокартон <%= check_box_tag 'gips' %><br>
  Утепление <%= check_box_tag 'utiplenie' %> (только при каркасном типе стен!!!)<br><br>
  
  <span class="caption">Внутренние перегородки</span><br>
  Площадь <%= number_field_tag 'plvnper'%> м<sup>2</sup><br>
  Тип стен: СИП120 <%= check_box_tag 'sip120' %>, Каркас90 <%= check_box_tag 'karkas90' %><br>
  Отделка: Вагонка <%= check_box_tag 'vagonkaperegorodka' %>, Гипсокартон <%= check_box_tag 'gipsperegorodka' %><br>
  Утепление <%= check_box_tag 'utiplenie100' %> (только при каркасном типе стен!!!)<br><br>
  
  <div><span class="caption">Потолки</span><br>
  Площадь <%= number_field_tag 'plpot' %> м<sup>2</sup><br>
  Отделка потолка: Вагонка <%= check_box_tag 'vagonkapot' %>, Гипсокартон <%= check_box_tag 'gipspot' %>
  </div><br><br>
  
  <span class="caption">Перекрытие</span><br>
  Площадь <%= number_field_tag 'plper' %> м<sup>2</sup><br>
  Утепление <%= check_box_tag 'utiplenieper' %><br><br>
  
  <span class="caption">Кровля</span><br>
  Площадь <%= number_field_tag 'plkrov' %> м<sup>2</sup><br>
  Тип кровли: Битумная <%= check_box_tag 'bitumkrov' %>, Металлочерепица <%= check_box_tag 'metkrov' %><br>
  Утепление <%= check_box_tag 'utipleniekrov' %><br><br>
  
  <span class="caption">Инженерия</span><br>
  Электрика <%= check_box_tag 'elektrik' %><br>
  Отопление <%= check_box_tag 'otoplenie' %><br>
  Водопровод <%= check_box_tag 'vodoprovod' %><br>
  Канализация <%= check_box_tag 'kanalis' %><br><br>
  
  <span class="caption">Проемы</span><br>
  Входная дверь <%= check_box_tag 'dver' %><br>
  Окна, площадь <%= number_field_tag 'plokna'%> м<sup>2</sup><br>
  <br>
  
  
  
  <span class="caption">Акционная наценка</span> <%= check_box_tag 'akcionka' %><br>
  <span class="caption">Региональный проект</span> <%= check_box_tag 'regional' %><br><br>
  
  
  
  <%= submit_tag "Подсчитать стоимость", class: "btn btn-xs btn-info" %>
  <%= link_to 'Очистить форму', elements_form_path, class: "btn btn-xs btn-warning" %><br><br>
    <% if can? :update, Element %>
      <%= link_to 'Перейти в раздел редактирования', elements_path, class: "btn btn-xs btn-info" %>
    <% end %>
<% end %>
<br>
<br>
<br>
<br>
