<div class="dopdiv", class: "btn btn-xs btn-info">

  <br>

  
  
  
  
  
  Отмостка 800 мм. <%= number_field_tag 'otmostka800'%> м.пог.<br><br>
  Отмостка 1000 мм. <%= number_field_tag 'otmostka1000'%> м.пог.<br><br>
  
  
  Ступеньки в дом (площадка + 2 ступеньки) <%= check_box_tag 'stupenki' %><br><br>
  Навес над ступеньками (двускатный) <%= check_box_tag 'naves' %><br><br>
  Отделка цоколя (пластиковые плиты) <%= number_field_tag 'tsokol'%> м<sup>2</sup><br>
  
  Лестница (стандарт) <%= number_field_tag 'lestnica'%> м.пог.<br><br>
  

</div>
