<h2>Форма входа</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    Пароль<br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      Запомнить меня
    </div>
  <% end -%>

  <div class="actions">
    <%= submit_tag "Войти" %>
  </div>
<% end %>
<br>
<span class="devlink"><%= render "devise/shared/links" %></span>
