<!DOCTYPE html>
<html>
<head>
  <title>Hausform</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container">
        <ul class="nav  navbar-nav pull-left">
            <% if can? :update, Element %>
              <li class="nav  navbar-nav pull-left"><%= link_to 'ЕвроХауз', elements_path %></li>
              <li class="nav  navbar-nav pull-left"><%= link_to 'СМЕРЕКОВА ХАТА', baums_path %></li>
            <% end %>
          </ul>
        
        
        
        
        
          <ul class="nav  navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "#{current_user.email}", '#' %></li>
              <li><%= link_to 'Изменить пароль', edit_user_registration_path %></li>
              <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Войти', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>



<div class="container">
  <div class="mycontent">
  
  </div>
  <%= yield %>
</div>


</body>
</html>
